In [1]:
import os
import sys
sys.path.append(os.path.abspath('') + '/..')

In [2]:
import pandas as pd 
import re
import json

from data_utils import getDF
from dataset_evaluation_utils import * 

from datetime import datetime, timezone

import seaborn as sns
import matplotlib.pyplot as plt
sns.set_style('whitegrid')

# import plotly.offline as py
# pd.options.plotting.backend = "plotly"
# py.init_notebook_mode() # graphs charts inline (IPython).

a4_dims = (11.7, 8.27)

# paths

In [3]:
dataset_folderpath = '../datasets/30Music/'

dataset_name = '30Music'
dump_foldername ='30music_dump/'

# rule: what/which_data_set/sample_version/what/
images_path, output_path, heatmaps_path, diversity_graphpath, diversity_filepath = get_folderpaths(dump_foldername)

https://notebook.community/chengsoonong/digbeta/dchen/music/30music_idomaar2csv


use json.loads(str_dict) to read the str of a dictionary

In [4]:
columns = ['Type', 'ID', 'Timestamp', 'Properties', 'LinkedEntities']

# DF albums

In [4]:
albums = pd.read_csv(dataset_folderpath+'entities/albums.idomaar', delimiter='\t', header=None)
albums.columns = columns
albums.head()

,Type,ID,Timestamp,Properties,LinkedEntities
0,album,0,-1,"{""MBID"":""81a775f4-4a0e-401f-b167-f8dd97453193""...",{}
1,album,1,-1,"{""MBID"":""189bd32e-65ec-46d6-b939-6e4988ac6872""...",{}
2,album,2,-1,"{""MBID"":""8cc6207e-cfc2-40d9-a564-0d64aed50b0d""...",{}
3,album,3,-1,"{""MBID"":""38d1a53d-ed44-4924-b1b8-bd1504e61e6c""...",{}
4,album,4,-1,"{""MBID"":""442444dc-b87a-4084-b049-e6015b1ba343""...",{}

# DF events

In [5]:
# colunms = ['Type', 'ID', 'Timestamp', 'Properties', 'LinkedEntities']
events = pd.read_csv(dataset_folderpath+'relations/events.idomaar', delimiter='\t', header=None)
events.columns = columns
events.head()

,Type,ID,Timestamp,Properties,LinkedEntities
0,event.play,1,1405079768,"{""playtime"":176}","{""subjects"":[{""type"":""user"",""id"":41504}], ""obj..."
1,event.play,2,1405079944,"{""playtime"":181}","{""subjects"":[{""type"":""user"",""id"":41504}], ""obj..."
2,event.play,3,1405080125,"{""playtime"":149}","{""subjects"":[{""type"":""user"",""id"":41504}], ""obj..."
3,event.play,4,1405080273,"{""playtime"":223}","{""subjects"":[{""type"":""user"",""id"":41504}], ""obj..."
4,event.play,5,1405080497,"{""playtime"":290}","{""subjects"":[{""type"":""user"",""id"":41504}], ""obj..."

In [15]:
for le in events['LinkedEntities'][:3]:
    print(le)

{"subjects":[{"type":"user","id":41504}], "objects":[{"type":"track","id":3351207}]}
{"subjects":[{"type":"user","id":41504}], "objects":[{"type":"track","id":3351181}]}
{"subjects":[{"type":"user","id":41504}], "objects":[{"type":"track","id":3351149}]}

In [21]:
json.loads(events['LinkedEntities'][0])

{'subjects': [{'type': 'user', 'id': 41504}],
 'objects': [{'type': 'track', 'id': 3351207}]}

In [7]:
_ = json.loads(events['LinkedEntities'][1])

_s = pd.json_normalize(_, record_path=['subjects'])
# _s = pd.concat([_s] * 11, axis=0)#.reset_index().drop(columns='index')
# _s = _s.loc[_s.index.repeat(11)].reset_index().drop(columns='index')#, inplace=True)
_s.columns = ['subject_type', 'subject_id']

pd.concat([ pd.json_normalize(_, record_path=['objects']), _s], axis=1)

    type       id subject_type  subject_id
0  track  3351181         user       41504

In [10]:
# events['Timestamp']
_ = split_timestamp(events, time_col='Timestamp')
_

,Type,ID,Timestamp,Properties,LinkedEntities,date,year-month,year,month,day
7767307,event.play,7767308,1390209860,"{""playtime"":236}","{""subjects"":[{""type"":""user"",""id"":19029}], ""obj...",2014-01-20 09:24:20+00:00,2014-01-01,2014,1,20
21545880,event.play,21545881,1390209861,"{""playtime"":192}","{""subjects"":[{""type"":""user"",""id"":25568}], ""obj...",2014-01-20 09:24:21+00:00,2014-01-01,2014,1,20
12989735,event.play,12989736,1390209861,"{""playtime"":190}","{""subjects"":[{""type"":""user"",""id"":38955}], ""obj...",2014-01-20 09:24:21+00:00,2014-01-01,2014,1,20
23834945,event.play,23834946,1390209864,"{""playtime"":227}","{""subjects"":[{""type"":""user"",""id"":7722}], ""obje...",2014-01-20 09:24:24+00:00,2014-01-01,2014,1,20
29967433,event.play,29967434,1390209864,"{""playtime"":241}","{""subjects"":[{""type"":""user"",""id"":10111}], ""obj...",2014-01-20 09:24:24+00:00,2014-01-01,2014,1,20
...,...,...,...,...,...,...,...,...,...,...
20194156,event.play,20194157,1421745858,"{""playtime"":453}","{""subjects"":[{""type"":""user"",""id"":35954}], ""obj...",2015-01-20 09:24:18+00:00,2015-01-01,2015,1,20
24909706,event.play,24909707,1421745858,"{""playtime"":164}","{""subjects"":[{""type"":""user"",""id"":26323}], ""obj...",2015-01-20 09:24:18+00:00,2015-01-01,2015,1,20
11156419,event.play,11156420,1421745858,"{""playtime"":251}","{""subjects"":[{""type"":""user"",""id"":28971}], ""obj...",2015-01-20 09:24:18+00:00,2015-01-01,2015,1,20
5862663,event.play,5862664,1421745858,"{""playtime"":350}","{""subjects"":[{""type"":""user"",""id"":1852}], ""obje...",2015-01-20 09:24:18+00:00,2015-01-01,2015,1,20
13851480,event.play,13851481,1421745858,"{""playtime"":255}","{""subjects"":[{""type"":""user"",""id"":14173}], ""obj...",2015-01-20 09:24:18+00:00,2015-01-01,2015,1,20

In [11]:
_['year-month'].max()

Timestamp('2015-01-01 00:00:00')

In [12]:
_['year-month'].min()

Timestamp('2014-01-01 00:00:00')

# DF tags

In [26]:
tags = pd.read_csv(dataset_folderpath+'entities/tags.idomaar', delimiter='\t', header=None)
tags.columns = columns
tags.head()

,Type,ID,Timestamp,Properties,LinkedEntities
0,tag,152244,-1,"{""value"":""m-dibango"", ""url"":""www.last.fm/tag/m...",{}
1,tag,58983,-1,"{""value"":""demonios da garoa"", ""url"":""www.last....",{}
2,tag,263526,-1,"{""value"":""violon-celle"", ""url"":""www.last.fm/ta...",{}
3,tag,197824,-1,"{""value"":""radio critical rachel"", ""url"":""www.l...",{}
4,tag,75705,-1,"{""value"":""eurovision 1957"", ""url"":""www.last.fm...",{}

In [27]:
for p in tags['Properties'][:3]:
    print(p)

{"value":"m-dibango", "url":"www.last.fm/tag/m-dibango"}
{"value":"demonios da garoa", "url":"www.last.fm/tag/demonios%20da%20garoa"}
{"value":"violon-celle", "url":"www.last.fm/tag/violon-celle"}

# DF sessions

In [5]:
sessions = pd.read_csv(dataset_folderpath+'relations/sessions.idomaar', delimiter='\t', header=None)
sessions.columns = ['Type', 'ID', 'Timestamp', 'P_LE']

properties = []
linked_entities = []
for row in sessions.loc[:, 'P_LE']:
    parse = row.split('} {')
    properties += [parse[0]+'}']
    linked_entities += ['{'+parse[1]]

sessions['Properties'] = properties
sessions['LinkedEntities'] = linked_entities
sessions.drop(columns=['P_LE'], inplace=True)

sessions.head()

,Type,ID,Timestamp,Properties,LinkedEntities
0,event.session,287144,1390231051,"{""numtracks"":23,""playtime"":4547}","{""subjects"":[{""type"":""user"",""id"":44361}],""obje..."
1,event.session,287145,1390241844,"{""numtracks"":11,""playtime"":2907}","{""subjects"":[{""type"":""user"",""id"":44361}],""obje..."
2,event.session,287146,1390303249,"{""numtracks"":16,""playtime"":3191}","{""subjects"":[{""type"":""user"",""id"":44361}],""obje..."
3,event.session,287147,1390481828,"{""numtracks"":5,""playtime"":1162}","{""subjects"":[{""type"":""user"",""id"":44361}],""obje..."
4,event.session,287140,1421443687,"{""numtracks"":2,""playtime"":250}","{""subjects"":[{""type"":""user"",""id"":42773}],""obje..."

___
## proof code works

In [11]:
json.loads(sessions['LinkedEntities'][0])

{'subjects': [{'type': 'user', 'id': 44361}],
 'objects': [{'type': 'track',
   'id': 4698874,
   'playstart': 0,
   'playtime': 58,
   'playratio': None,
   'action': 'play'},
  {'type': 'track',
   'id': 838286,
   'playstart': 58,
   'playtime': 310,
   'playratio': 1.01,
   'action': 'play'},
  {'type': 'track',
   'id': 2588097,
   'playstart': 368,
   'playtime': 179,
   'playratio': 1.01,
   'action': 'play'},
  {'type': 'track',
   'id': 2746740,
   'playstart': 547,
   'playtime': 342,
   'playratio': 1.44,
   'action': 'play'},
  {'type': 'track',
   'id': 3873988,
   'playstart': 889,
   'playtime': 259,
   'playratio': 1.01,
   'action': 'play'},
  {'type': 'track',
   'id': 808046,
   'playstart': 1148,
   'playtime': 236,
   'playratio': 1.01,
   'action': 'play'},
  {'type': 'track',
   'id': 2588498,
   'playstart': 1384,
   'playtime': 158,
   'playratio': 1.01,
   'action': 'play'},
  {'type': 'track',
   'id': 2492893,
   'playstart': 1542,
   'playtime': 196,
   'playratio': 1.02,
   'action': 'play'},
  {'type': 'track',
   'id': 2168413,
   'playstart': 1738,
   'playtime': 165,
   'playratio': 1.02,
   'action': 'play'},
  {'type': 'track',
   'id': 1778345,
   'playstart': 1903,
   'playtime': 448,
   'playratio': 1.07,
   'action': 'play'},
  {'type': 'track',
   'id': 2989691,
   'playstart': 2351,
   'playtime': 194,
   'playratio': 0.99,
   'action': 'play'},
  {'type': 'track',
   'id': 4698875,
   'playstart': 2545,
   'playtime': 256,
   'playratio': None,
   'action': 'play'},
  {'type': 'track',
   'id': 2985955,
   'playstart': 2801,
   'playtime': 257,
   'playratio': 1.54,
   'action': 'play'},
  {'type': 'track',
   'id': 4698876,
   'playstart': 3058,
   'playtime': 177,
   'playratio': None,
   'action': 'play'},
  {'type': 'track',
   'id': 1728736,
   'playstart': 3235,
   'playtime': 270,
   'playratio': 0.96,
   'action': 'play'},
  {'type': 'track',
   'id': 2615446,
   'playstart': 3505,
   'playtime': 172,
   'playratio': 0.93,
   'action': 'play'},
  {'type': 'track',
   'id': 4698877,
   'playstart': 3677,
   'playtime': 177,
   'playratio': None,
   'action': 'play'},
  {'type': 'track',
   'id': 4698878,
   'playstart': 3854,
   'playtime': 144,
   'playratio': None,
   'action': 'play'},
  {'type': 'track',
   'id': 515524,
   'playstart': 3998,
   'playtime': 134,
   'playratio': 1.1,
   'action': 'play'},
  {'type': 'track',
   'id': 4698879,
   'playstart': 4132,
   'playtime': 172,
   'playratio': None,
   'action': 'play'},
  {'type': 'track',
   'id': 4698880,
   'playstart': 4304,
   'playtime': 98,
   'playratio': None,
   'action': 'play'},
  {'type': 'track',
   'id': 2444241,
   'playstart': 4402,
   'playtime': 146,
   'playratio': 1.04,
   'action': 'play'},
  {'type': 'track',
   'id': 4698881,
   'playstart': 4548,
   'playtime': -1,
   'playratio': 1.0,
   'action': None}]}

In [9]:
json.loads(sessions['LinkedEntities'][1])

{'subjects': [{'type': 'user', 'id': 44361}],
 'objects': [{'type': 'track',
   'id': 455834,
   'playstart': 0,
   'playtime': 239,
   'playratio': 1.01,
   'action': 'play'},
  {'type': 'track',
   'id': 2460503,
   'playstart': 239,
   'playtime': 397,
   'playratio': 0.18,
   'action': 'play'},
  {'type': 'track',
   'id': 1999451,
   'playstart': 636,
   'playtime': 293,
   'playratio': 1.02,
   'action': 'play'},
  {'type': 'track',
   'id': 3257000,
   'playstart': 929,
   'playtime': 137,
   'playratio': 0.33,
   'action': 'play'},
  {'type': 'track',
   'id': 2765459,
   'playstart': 1066,
   'playtime': 186,
   'playratio': 1.06,
   'action': 'play'},
  {'type': 'track',
   'id': 4698882,
   'playstart': 1252,
   'playtime': 364,
   'playratio': None,
   'action': 'play'},
  {'type': 'track',
   'id': 1311408,
   'playstart': 1616,
   'playtime': 178,
   'playratio': 0.89,
   'action': 'play'},
  {'type': 'track',
   'id': 3439451,
   'playstart': 1794,
   'playtime': 223,
   'playratio': 1.02,
   'action': 'play'},
  {'type': 'track',
   'id': 3295570,
   'playstart': 2017,
   'playtime': 106,
   'playratio': 0.39,
   'action': 'play'},
  {'type': 'track',
   'id': 2503246,
   'playstart': 2123,
   'playtime': 785,
   'playratio': 1.0,
   'action': 'play'},
  {'type': 'track',
   'id': 249947,
   'playstart': 2908,
   'playtime': -1,
   'playratio': None,
   'action': None}]}

In [17]:
_ = json.loads(sessions['LinkedEntities'][1])
pd.json_normalize(_)

,subjects,objects
0,"[{'type': 'user', 'id': 44361}]","[{'type': 'track', 'id': 455834, 'playstart': ..."

In [7]:
_ = json.loads(sessions['LinkedEntities'][1])
pd.json_normalize(_, record_path=['objects'])#, meta=[['subjects', 'type', 'id'],['type', 'id', 'playstart', 'playtime', 'playratio', 'action']])
# pd.json_normalize(_, record_path=['subjects','objects']) # doesnt work

     type       id  playstart  playtime  playratio action
0   track   455834          0       239       1.01   play
1   track  2460503        239       397       0.18   play
2   track  1999451        636       293       1.02   play
3   track  3257000        929       137       0.33   play
4   track  2765459       1066       186       1.06   play
5   track  4698882       1252       364        NaN   play
6   track  1311408       1616       178       0.89   play
7   track  3439451       1794       223       1.02   play
8   track  3295570       2017       106       0.39   play
9   track  2503246       2123       785       1.00   play
10  track   249947       2908        -1        NaN   None

In [1]:
239+397

636

In [30]:
_s = pd.json_normalize(_, record_path=['subjects'])
_s

   type     id
0  user  44361

In [31]:
pd.concat([_s] * 11, axis=0)#.reset_index().drop(columns='index')

   type     id
0  user  44361
0  user  44361
0  user  44361
0  user  44361
0  user  44361
0  user  44361
0  user  44361
0  user  44361
0  user  44361
0  user  44361
0  user  44361

In [32]:
_s = _s.loc[_s.index.repeat(11)].reset_index().drop(columns='index')#, inplace=True)
_s.columns = ['subject_type', 'subject_id']

In [34]:
_s

   subject_type  subject_id
0          user       44361
1          user       44361
2          user       44361
3          user       44361
4          user       44361
5          user       44361
6          user       44361
7          user       44361
8          user       44361
9          user       44361
10         user       44361

In [36]:
pd.concat([ pd.json_normalize(_, record_path=['objects']), _s], axis=1)

,type,id,playstart,playtime,playratio,action,subject_type,subject_id
0,track,455834,0,239,1.01,play,user,44361
1,track,2460503,239,397,0.18,play,user,44361
2,track,1999451,636,293,1.02,play,user,44361
3,track,3257000,929,137,0.33,play,user,44361
4,track,2765459,1066,186,1.06,play,user,44361
5,track,4698882,1252,364,NaN,play,user,44361
6,track,1311408,1616,178,0.89,play,user,44361
7,track,3439451,1794,223,1.02,play,user,44361
8,track,3295570,2017,106,0.39,play,user,44361
9,track,2503246,2123,785,1.00,play,user,44361
10,track,249947,2908,-1,NaN,None,user,44361

end of proof
____

In [ ]:
_ = json.loads(sessions['LinkedEntities'][1])

_s = pd.json_normalize(_, record_path=['subjects'])
# _s = pd.concat([_s] * 11, axis=0)#.reset_index().drop(columns='index')
_s = _s.loc[_s.index.repeat(11)].reset_index().drop(columns='index')#, inplace=True)
_s.columns = ['subject_type', 'subject_id']

pd.concat([ pd.json_normalize(_, record_path=['objects']), _s], axis=1)

In [ ]:
le_columns = ['subject_type', 'subjects_id', 'object_type', 'object_id', 'object_playstart', 'object_playtime', 'object_playratio', 'object_action']

# DF tracks

In [6]:
tracks = pd.read_csv(dataset_folderpath+'entities/tracks.idomaar', delimiter='\t', header=None)
tracks.columns = columns
tracks.head()

,Type,ID,Timestamp,Properties,LinkedEntities
0,track,0,-1,"{""duration"":-1,""playcount"":4,""MBID"":null,""name...","{""artists"":[{""type"":""person"",""id"":0}],""albums""..."
1,track,1,-1,"{""duration"":-1,""playcount"":495,""MBID"":null,""na...","{""artists"":[{""type"":""person"",""id"":1}],""albums""..."
2,track,2,-1,"{""duration"":-1,""playcount"":2,""MBID"":null,""name...","{""artists"":[{""type"":""person"",""id"":2}],""albums""..."
3,track,3,-1,"{""duration"":-1,""playcount"":2,""MBID"":null,""name...","{""artists"":[{""type"":""person"",""id"":3}],""albums""..."
4,track,4,-1,"{""duration"":-1,""playcount"":1,""MBID"":null,""name...","{""artists"":[{""type"":""person"",""id"":4}],""albums""..."

In [7]:
for p in tracks['Properties'][:3]:
    print(p)

for le in tracks['LinkedEntities'][:3]:
    print(le)

{"duration":-1,"playcount":4,"MBID":null,"name":"000003+Music+Instructor/_/Dj%27s+Rock+Da+House+%C3%82%E2%89%88%C3%86%E2%89%88%C3%8A01+-+Dj+Max-Pulemet+Vs.+Bomfunk+Mc%27s+-+Electro+Breakdance+party+1+%5B2000%5D+=+CD+ONE%C3%82%E2%89%88%C3%86%E2%89%88%C3%8A"}
{"duration":-1,"playcount":495,"MBID":null,"name":"00-01/_/%D0%A2%D0%B5%D0%BA%D1%81%D1%82"}
{"duration":-1,"playcount":2,"MBID":null,"name":"0005.+Overkill/_/Overkill"}
{"artists":[{"type":"person","id":0}],"albums":[],"tags":[]}
{"artists":[{"type":"person","id":1}],"albums":[],"tags":[]}
{"artists":[{"type":"person","id":2}],"albums":[],"tags":[]}