*Goal*: decide between ADM ratings only dataset vs 5-core. Ratings only was the chosen one.

# update sys.path

In [1]:
import os
import sys
sys.path.append(os.path.abspath('') + '/..')

# imports

In [2]:
import pandas as pd

In [3]:
dataset_name = 'Amazon_Digital_Music'
user_col = 'user_id'
item_col = 'item_id'
rate_col = 'rating'
time_col = 'timestamp'

In [4]:
ratings_dm = pd.read_csv("../datasets/Digital_Music.csv", 
                        names=[item_col, user_col, rate_col, time_col])

'''
Ratings only: These datasets include no metadata or reviews, but only (item,user,rating,timestamp) tuples. 
'''
ratings_dm.head()

      item_id         user_id  rating   timestamp
0  0001388703  A1ZCPG3D3HGRSS     5.0  1387670400
1  0001388703   AC2PL52NKPL29     5.0  1378857600
2  0001388703  A1SUZXBDZSDQ3A     5.0  1362182400
3  0001388703  A3A0W7FZXM0IZW     5.0  1354406400
4  0001388703  A12R54MKO17TW0     5.0  1325894400

In [5]:
ratings_dm[rate_col].value_counts()

5.0    1280147
4.0     179929
3.0      57347
1.0      43108
2.0      23551
Name: rating, dtype: int64

In [6]:
ratings_dm[user_col].value_counts()

A3W4D8XOGLWUN5    1326
AQ4B80F0JSBNI      682
A1Q0BU32CVOLRA     638
A2WQY1B8ZS7QRZ     535
A2H3JURQZOHVMB     526
                  ...
A1NH7LRA0SBHPZ       1
AEV1QRC8DI54H        1
A2H1SXOX3B7LF        1
A32LZMTRCSK75W       1
A2UJL6E6OIB357       1
Name: user_id, Length: 840372, dtype: int64

In [16]:
ratings_dm[item_col].value_counts()

B0135P6PZA    3411
B00M8JCW3E    3243
B00CZF8B68    2819
B00NPZI1ZS    2195
B00U3WJHCW    2046
              ...
B0000289V9       1
B005HYZYQO       1
B001BTI4HU       1
B014I2WSF0       1
B001BKM0J2       1
Name: item_id, Length: 456992, dtype: int64

In [7]:
import pandas as pd
import gzip
import json

def parse(path):
  g = gzip.open(path, 'rb')
  for l in g:
    yield json.loads(l)

def getDF(path):
  i = 0
  df = {}
  for d in parse(path):
    df[i] = d
    i += 1
  return pd.DataFrame.from_dict(df, orient='index')

In [8]:
meta_dm = getDF('../datasets/meta_Digital_Music.json.gz')
'''
where

asin - ID of the product, e.g. 0000031852
title - name of the product
feature - bullet-point format features of the product
description - description of the product
price - price in US dollars (at time of crawl)
imageURL - url of the product image
imageURL - url of the high resolution product image
related - related products (also bought, also viewed, bought together, buy after viewing)
salesRank - sales rank information
brand - brand name
categories - list of categories the product belongs to
tech1 - the first technical detail table of the product
tech2 - the second technical detail table of the product
similar - similar product table
'''

meta_dm.head()

,category,tech1,description,fit,title,also_buy,tech2,brand,feature,rank,also_view,main_cat,similar_item,date,price,asin,imageURL,imageURLHighRes,details
0,[],,[],,Master Collection Volume One,"[B000002UEN, B000008LD5, B01J804JKE, 747403435...",,John Michael Talbot,[],"58,291 in CDs & Vinyl (","[B000002UEN, B000008LD5, 7474034352, B000008LD...","<img src=""https://images-na.ssl-images-amazon....",,,$18.99,0001377647,[],[],NaN
1,[],,[],,Hymns Collection: Hymns 1 &amp; 2,"[5558154950, B00014K5V4]",,Second Chapter of Acts,[],"93,164 in CDs & Vinyl (","[B000008KJ3, B000008KJ0, 5558154950, B000UN8KZ...","<img src=""https://images-na.ssl-images-amazon....",,,,0001529145,[],[],NaN
2,[],,[],,Early Works - Don Francisco,"[B00004RC05, B003H8F4NA, B003ZFVHPO, B003JMP1Z...",,Don Francisco,[],"875,825 in CDs & Vinyl (","[B003H8F4NA, B003ZFVHPO, B003JMP1ZK, B00004RC0...","<img src=""https://images-na.ssl-images-amazon....",,,,0001527134,[],[],NaN
3,[],,[],,So You Wanna Go Back to Egypt,"[B0000275QQ, 0001393774, 0001388312, B0016CP2G...",,Keith Green,[],"203,263 in CDs & Vinyl (","[B00000I7JO, B0016CP2GS, 0001393774, B0000275Q...","<img src=""https://images-na.ssl-images-amazon....",,,$13.01,0001388703,[],[],NaN
4,[],,[1. Losing Game 2. I Can't Wait 3. Didn't He S...,,Early Works - Dallas Holm,"[B0002N4JP2, 0760131694, B00002EQ79, B00150K8J...",,Dallas Holm,[],"399,269 in CDs & Vinyl (","[B0002N4JP2, 0760131694, B00150K8JC, B003MTXNV...","<img src=""https://images-na.ssl-images-amazon....",,,,0001526146,[],[],NaN

In [9]:
meta_dm['brand'].isna().any()

False

In [10]:
meta_dm['brand'].value_counts()

                     14471
Various Artists       1179
Various                724
VARIOUS ARTISTS        255
various                121
                     ...
SpyMusic                 1
Command All-Stars        1
Water to Wine            1
Z Prochek                1
Mute Vorwarts            1
Name: brand, Length: 36464, dtype: int64

In [11]:
meta_dm['rank'] = meta_dm['rank'].astype(str)

In [12]:
meta_dm['rank'].value_counts()/meta_dm['rank'].nunique()

[]                            0.099086
2,479,821 in CDs & Vinyl (    0.000067
1,846,782 in CDs & Vinyl (    0.000067
563,394 in CDs & Vinyl (      0.000067
1,683,765 in CDs & Vinyl (    0.000067
                                ...
851,976 in CDs & Vinyl (      0.000017
1,053,092 in CDs & Vinyl (    0.000017
2,263,991 in CDs & Vinyl (    0.000017
2,983,761 in CDs & Vinyl (    0.000017
855,457 in CDs & Vinyl (      0.000017
Name: rank, Length: 59928, dtype: float64

In [13]:
dm_5core = getDF('../datasets/Digital_Music_5.json.gz')
'''
K-cores (i.e., dense subsets): 
These data have been reduced to extract the k-core, such that each of the remaining users and items have k reviews each.

where

reviewerID - ID of the reviewer, e.g. A2SUAM1J3GNN3B
asin - ID of the product, e.g. 0000013714
reviewerName - name of the reviewer
vote - helpful votes of the review
style - a disctionary of the product metadata, e.g., "Format" is "Hardcover"
reviewText - text of the review
overall - rating of the product
summary - summary of the review
unixReviewTime - time of the review (unix time)
reviewTime - time of the review (raw)
image - images that users post after they have received the product
'''
dm_5core.head()

,overall,vote,verified,reviewTime,reviewerID,asin,style,reviewerName,reviewText,summary,unixReviewTime,image
0,5.0,3,True,"06 3, 2013",A2TYZ821XXK2YZ,3426958910,{'Format:': ' Audio CD'},Garrett,"This is awesome to listen to, A must-have for ...",Slayer Rules!,1370217600,NaN
1,5.0,NaN,True,"10 11, 2014",A3OFSREZADFUDY,3426958910,{'Format:': ' Audio CD'},Ad,bien,Five Stars,1412985600,NaN
2,5.0,NaN,True,"02 11, 2014",A2VAMODP8M77NG,3426958910,{'Format:': ' Audio CD'},JTGabq,It was great to hear the old stuff again and I...,SLAYER!!!!!!!!!!!!!!!!!!!!!,1392076800,NaN
3,4.0,3,False,"12 7, 2013",AAKSLZ9IDTEH0,3426958910,{'Format:': ' Audio CD'},john F&#039;n doe,well best of's are a bit poison normally but t...,slayer greatest hits! you mean everything righ...,1386374400,NaN
4,5.0,NaN,True,"06 12, 2016",A3OH43OZJLKI09,5557706259,{'Format:': ' Audio CD'},melinda a goodman,What can I say? This is Casting Crowns!!!This ...,"This is a good, blessing filled",1465689600,NaN

In [14]:
dm_5core['overall'].value_counts()

5.0    135842
4.0     23143
3.0      6792
1.0      2192
2.0      1812
Name: overall, dtype: int64

In [15]:
dm_5core['reviewerID'].value_counts()

A3W4D8XOGLWUN5    791
A2H3JURQZOHVMB    314
A36EDWL4F3AASU    223
A165P3MOJV3OVZ    219
AVKHYC2D7MD56     214
                 ...
A518S7KT78N51       2
A2M4D98UYXMUZE      2
A2VWLNEBMW4ITQ      2
A70WPHE33U5B        1
A25HR6FTWBQ2NZ      1
Name: reviewerID, Length: 16566, dtype: int64

In [17]:
dm_5core['asin'].value_counts()

B00CZF8B68    574
B00BWGHIHY    316
B00136J7ZE    294
B00EH49FRE    283
B00136NUG6    262
             ...
B00123NDXK      1
B00122HKXA      1
B000W1S2WU      1
B0017CRW1K      1
B00171ANFI      1
Name: asin, Length: 11797, dtype: int64

In [18]:
dm_5core[['reviewerID','asin']].value_counts()

reviewerID            asin
A3DG93E8TXMKZF        B001KOWH0G    52
A23OB9FM3MUYXT        B00137ILRS    18
                      B000VWMT7Y    12
                      B00137MMAU    10
AWG2O9C42XW5G         9434682614    10
                                    ..
A3F2TT3VSQS9W8        B005HIPEGK     1
                      B00C3NADUE     1
A3F3B6HY9RJI04        B0018DS15O     1
                      B001NZ71K8     1
A0072041HVZ3465DXUOR  B000V9AUC8     1
Length: 145292, dtype: int64

In [19]:
dm_5core['vote'].value_counts()

2      2816
3      1306
4       762
5       528
6       335
       ...
69        1
124       1
461       1
268       1
95        1
Name: vote, Length: 135, dtype: int64

In [22]:
dm_5core.shape

(169781, 12)

In [23]:
ratings_dm.shape

(1584082, 4)