*Goal*: find out if the dataset fits the data requirements

*Data Requirements*:
* user activity is >80% of all time intervals
* month 1, user has >5 rates
* month 0, to pre-train model
* items are comparable
* timestamp
* implicit feedback
* ranking problem


*Conclusion*:
dataset doesnt have timestamp. RIP

In [1]:
import os
import sys
sys.path.append(os.path.abspath('') + '/..')

In [2]:
import pandas as pd 
import re
import numpy as np

from data_utils import getDF
from dataset_evaluation_utils import * 

from datetime import datetime, timezone

import seaborn as sns
import matplotlib.pyplot as plt
sns.set_style('whitegrid')

# import plotly.offline as py
# pd.options.plotting.backend = "plotly"
# py.init_notebook_mode() # graphs charts inline (IPython).

a4_dims = (11.7, 8.27)

# paths

In [3]:
dataset_name = 'Goodreads'
dump_foldername ='goodreads_dump/'

# rule: what/which_data_set/sample_version/what/
images_path, output_path, heatmaps_path, diversity_graphpath, diversity_filepath = get_folderpaths(dump_foldername)

images/goodreads_dump/
output/goodreads_dump/
images/goodreads_dump/heatmaps/
images/goodreads_dump/diversity_eval/
output/goodreads_dump/diversity_eval/

___

# Goodreads

https://mengtingwan.github.io/data/goodreads#datasets

In [5]:
# takes 5min on my pc
orig_df = pd.read_csv('../datasets/goodreads/goodreads_interactions.csv')

In [6]:
orig_df

           user_id  book_id  is_read  rating  is_reviewed
0                0      948        1       5            0
1                0      947        1       5            1
2                0      946        1       5            0
3                0      945        1       5            0
4                0      944        1       5            0
...            ...      ...      ...     ...          ...
228648337   876144    24772        0       0            0
228648338   876144    23847        1       4            0
228648339   876144    23950        1       3            0
228648340   876144   374106        1       5            1
228648341   876144   351607        1       5            1

[228648342 rows x 5 columns]

In [7]:
meta_genres = getDF('../datasets/goodreads/goodreads_book_genres_initial.json.gz')
meta_genres

          book_id                                             genres
0         5333265      {'history, historical fiction, biography': 1}
1         1333909  {'fiction': 219, 'history, historical fiction,...
2         7327624  {'fantasy, paranormal': 31, 'fiction': 8, 'mys...
3         6066819  {'fiction': 555, 'romance': 23, 'mystery, thri...
4          287140                                 {'non-fiction': 3}
...           ...                                                ...
2360650   3084038  {'non-fiction': 5, 'history, historical fictio...
2360651  26168430  {'mystery, thriller, crime': 4, 'children': 1,...
2360652   2342551  {'poetry': 14, 'children': 7, 'young-adult': 1...
2360653  22017381     {'romance': 13, 'mystery, thriller, crime': 2}
2360654  11419866                      {'romance': 19, 'fiction': 4}

[2360655 rows x 2 columns]