*Goal*: find out if the dataset fits the data requirements

*Data Requirements*:
* user is present in all intervals
* user activity is >80%
* items are comparable
* timestamp
* implicit feedback
* ranking problem

# update sys.path

In [2]:
import os
import sys
sys.path.append(os.path.abspath('') + '/..')

# imports

In [1]:
import pandas as pd

In [3]:
# importa dataset 'palco playlists'
data = pd.read_csv("../datasets/palco_2010.tsv","\t", header=None)
dataset_name = 'Palco2010'

user_col = 'user_id'
item_col = 'track_id'

data.columns = [user_col, item_col,'timestamp']

data.head()

   user_id  track_id            timestamp
0     4220     31313  2010-01-01 00:10:36
1     4220     29567  2010-01-01 00:13:07
2     4220     31313  2010-01-01 00:13:18
3     3970     34925  2010-01-01 00:39:21
4     6258     18106  2010-01-01 00:46:25